---
layout: default
title: Home
---

<div class="posts">
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
  <section class="category-section">
    <h2 class="category-title">{{ category[0] }}</h2>
    {% assign posts = category[1] | sort: "date" | reverse %}
    {% for post in posts %}
    <article class="post-listing">
      <h3 class="post-listing-title">
        <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
      </h3>
    </article>
    {% endfor %}
  </section>
  {% endfor %}
</div>
